html {
    font-family: Georgia, Verdana, "Times New Roman", "Bitstream Charter", Times, serif;
    font-weight: bold;
    /*height: 100%;*/
}

body {
    background-color: dodgerblue;
    margin: 0; /*remove default*/
    font-size: 12pt;
    height: inherit;
}

.menuBar {
    max-width: 780px;
    margin: 20pt auto 20pt;
    padding: 20pt 0;
    text-align: center;
}

.border{
    background-color: goldenrod;
    border-width: 10px 10px 10px 10px;
    -moz-border-image:url("border.png") 10 10 10 10 repeat stretch;
    -webkit-border-image:url("border.png") 10 10 10 10 repeat stretch;
    border-image:url("border.png") 30 30 30 30 stretch;
}

.main{
    background-color: goldenrod;
    height: 350px;        /*this is key first step*/
    max-width: 780px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
}

.menuTop li{
    display: inline-block;
    width: 180px;
    padding: 5px 0;
    text-align: center;
    vertical-align: middle;
}

.menuSub{
    display: none;
    list-style-type: none;
    padding-left: 0;
    margin: 5px 0;
    position:absolute;
}

/*express in written word the selectors occuring here*/
.menuSub li{
    display: block;
    width: 170px;
    padding: 5px;
    background-color: goldenrod;
}

.menuSub li:hover{
    background-color: peru;
}


.main>.imgSlider{
    height: 100%;       /*this is key too, otherwise parents with percentage heights cascade*/
    text-align: center;
}

.imgSlider>ul, ul>li{
    height: inherit;    /*this key is cool, works with comma separated selectors*/
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.imgSlider img
{
    max-width:100%;     /*the key for these 2 lines to work is the parent must have sizes set*/
    max-height:100%;
}


.imgSlider{
    background-size: contain;
}

.imgSlider ul li{
    display: none;
}

.imgSlider ul li:first-child {
    display: block;
}

.arrow{
    position: absolute;
    opacity: .5;
    margin-top: 145px;
}
.arrow:hover{
    opacity: 1;
}
.arrow.left {
    margin-left: -370px;
}
.arrow.right {
    margin-left: 320px;
}
